<div class="container-fluid">
  <%= form_with(model: delivery_partner) do |form| %>
    <% if delivery_partner.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(delivery_partner.errors.count, "error") %> prohibited this delivery_partner from being saved:</h2>

        <ul>
          <% delivery_partner.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group mt-4">
      <%= form.label :username %>
      <%= form.text_field :username, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group mt-4">
      <%= form.label :company_name %>
      <%= form.text_field :company_name, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group mt-4">
      <%= form.label :phone_number %>
      <%= form.text_field :phone_number, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group mt-4">
      <%= form.label :email %>
      <%= form.email_field :email, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group mt-4">
      <%= form.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= form.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="actions mt-4">
      <%= form.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
