<div class="container-fluid">
  <div class="text-center">
    <h1><%= @delivery_partner.company_name %></h1>

    <h4>
      <span>Email:</span>
      <%= @delivery_partner.email %>
    </h4>

    <h4>
      <span>phone_number:</span>
      <%= @delivery_partner.phone_number %>
    </h4>

    <div>
      <%= link_to "Edit this delivery partner", edit_delivery_partner_path(@delivery_partner) %> |
      <%= link_to "Back to delivery partners", delivery_partners_path %>

      <%= button_to "Destroy this delivery partner", @delivery_partner, method: :delete, class: "mt-4 btn btn-danger" %>
    </div>
  </div>
</div>
