<!DOCTYPE html>
<html>
  <head>
    <title>ShippingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-light">
      <ul class="navbar-nav m-auto px-4">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Delivery Partners', delivery_partners_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Shipments', shipments_path, class: "nav-link" %>
        </li>
      </ul>

      <div class="me-4">
        <% if !user_signed_in? %>
          <%= link_to "Login", new_user_session_path, class: "btn" %>
        <% else %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn" %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
